:root {
    --primary-color: #BC5252;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

navbar, footer, .best-seller-banner {
    background: var(--primary-color);
}

.best-sellers {
    width: 1400px;
}

.rating-star {
    color: var(--primary-color);
}

.product {
    width: 280px;
    height: 450px;
}

.product-image {
    width: 220px;
    height: 200px;
    position: relative;
    top: 0px;
    transition: top ease 0.5s;
}

.product-image:hover {
    top: -10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

.search {
    width: 700px;
}

.repo:hover {
    color: #4a5568;
}

.sales-promotion {
    width: 600px;
    height: 256px;
}
