@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #BC5252;
}

navbar,
footer,
.best-seller-banner {
    background: var(--primary-color);
}

/*.products-row, .best-seller-banner {*/
/*    width: 1400px;*/
/*}*/

.rating-star,
.current-page {
    color: var(--primary-color);
}

.current-page {
    text-decoration: underline;
}

.not-current-page:hover,
.next-page:hover,
.previous-page:hover {
    background-color: var(--primary-color);
    color: white;
}

.product {
    height: 450px;
}

.product-image {
    width: 220px;
    height: 200px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.product-image:hover {
    top: -10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

.search {
    width: 700px;
}

.repo:hover {
    color: #4a5568;
}

.sales-promotion {
    width: 600px;
    height: 256px;
}
